<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<body class="sb-nav-fixed">
<div th:replace="~{common/header :: myHeader}"></div>
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="form-group" style="text-align:left;">
                        <h4>Sales Details</h4>
                    </div>
                    <div class="form-group" style="text-align:right;">
                        <a th:href="@{/sales/detail/create}">Add SalesDetails</a>
                        <input class="datepicker" id="dateSelect" name="dateSelect" th:placeholder="DD-MM-YYYY">
                        <button id="SearchButton" class="btn btn-sm btn-success" onclick="searchBySuggestion();" th:text="#{app.common.button.search}"></button>
                        <label for="pageSize">Select Page Size: </label>
                        <select class="form-select form-select-lg" onchange="submitPageSizeChange()"
                                name="pageSize" id="pageSize">
                            <option th:each="index : ${PageSizeList}" th:value="${index}"
                                    th:text="${index}"
                                    th:selected="(${index} == ${selectedPageSize})"></option>
                        </select>
                        <a href="#" class="btn btn-primary btn-sm active " onclick="clearDataFilter();"
                           th:text="#{app.common.button.clear.filter}"></a>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" onclick="sortChanged('name');">Name
                                <span th:attr="class=${sortColumn eq 'name' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('cat');">Category
                                <span th:attr="class=${sortColumn eq 'cat' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('subcat');">Sub Category
                                <span th:attr="class=${sortColumn eq 'subcat' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('qty');">Quantity
                                <span th:attr="class=${sortColumn eq 'qty' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('uprice');">Unit Price
                                <span th:attr="class=${sortColumn eq 'uprice' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('discamt');">Dis Amount
                                <span th:attr="class=${sortColumn eq 'discamt' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('totprice');">Amount
                                <span th:attr="class=${sortColumn eq 'totprice' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('payMode');">Pay Mode
                                <span th:attr="class=${sortColumn eq 'payMode' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('tranid');">Transaction ID
                                <span th:attr="class=${sortColumn eq 'tranid' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('opt');">Operator
                                <span th:attr="class=${sortColumn eq 'opt' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col">Sold At</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${SaleDetails.empty}">
                            <td colspan="5"> No Records Available</td>
                        </tr>
                        <tr th:each="saleDetail : ${SaleDetails}">
                            <td scope="row" th:text="${saleDetailStat.index+1}">#</td>
                            <td><span th:text="${saleDetail.name}"></span></td>
                            <td><span th:text="${saleDetail.productCategory}"></span></td>
                            <td><span th:text="${saleDetail.subCategory}"></span></td>
                            <td><span th:text="${saleDetail.quantity}"></span></td>
                            <td><span th:text="${saleDetail.unitPrice}"></span></td>
                            <td><span th:text="${saleDetail.discountAmount}"></span></td>
                            <td><span th:text="${saleDetail.totalPrice}"></span></td>
                            <td><span th:text="${saleDetail.paymentMode}"></span></td>
                            <td><span th:text="${saleDetail.transactionId}"></span></td>
                            <td><span th:text="${saleDetail.operatorName}"></span></td>
                            <td><span th:text="${saleDetail.soldAt}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <nav th:if="${SalePage.totalPages > 0}">
                        <div style="margin-bottom: 20px;">Showing <b><span th:text="${currentPageNumber}"></span></b> of <b><span th:text="${SalePage.totalPages}"></span></b> pages.</div>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link"
                                   th:attr="onclick=${currentPageNumber > 1 ? 'paginationClicked(-1,-1)' : '' }"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <span th:each="pageNumber : ${pageNumbers}">
                                <li class="page-item">
                                    <a th:attr="onclick=|paginationClicked(0,'${pageNumber}')|,class=${pageNumber eq  currentPageNumber? 'page-link current' : 'page-link'}"
                                       th:text="${pageNumber}">1</a></li>
                            </span>
                            <li class="page-item">
                                <a class="page-link"
                                   th:attr="onclick=${SalePage.totalPages > currentPageNumber ? 'paginationClicked(1,1)' : '' }"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <div th:replace="~{common/footer :: myFooter}"></div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/sales_details.js}"></script>
<script th:inline="javascript">
    let currentPageNumber = [[${currentPageNumber}]];
    let sortOrder = [[${sortOrder}]];
    let sortColumn = [[${sortColumn}]];
    let currentPageSize = [[${currentPageSize}]];
    let searchDate = [[${searchDate}]]
</script>
</body>
</html>