<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>

<body class="sb-nav-fixed">
<div th:replace="~{common/header :: myHeader}"></div>
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="form-group" style="text-align:left;">
                        <h4>Stock Audit List</h4>
                    </div>
                    <div class="form-group" style="text-align:right;">
                        <a th:href="@{/stock/management}">Add Stock</a>
                        <label for="searchType"></label>
                        <select id="searchType" name="searchType" class="form-select form-select-sm " onchange="searchTypeChanged();">
                            <option th:each="searchType : ${searchTypes}"
                                    th:value="${searchType.id}"
                                    th:text="${searchType.value}"
                                    th:selected="(${searchType.id} == ${searchType})"></option>
                        </select>
                        <label for="searchKey"></label>
                        <input type="text" name="searchKey" id="searchKey" placeholder="Search Text"
                               class="autocomplete" style="width: 120px;">
                        <button id="SearchButton" class="btn btn-sm btn-success" onclick="searchBySuggestion();" th:text="#{app.common.button.search}"></button>
                        <label>Select Page Size: </label>
                        <select class="form-select form-select-lg" onchange="submitPageSizeChange()"
                                name="pageSize" id="pageSize">
                            <option th:each="index : ${PageSizeList}" th:value="${index}"
                                    th:text="${index}"
                                    th:selected="(${index} == ${selectedPageSize})"></option>
                        </select>
                        <a href="#" class="btn btn-primary btn-sm active " onclick="clearDataFilter();"
                           th:text="#{app.common.button.clear.filter}"></a>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" onclick="sortChanged('name');">Name
                                <span th:attr="class=${sortColumn eq 'name' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('sname');">Short Name
                                <span th:attr="class=${sortColumn eq 'sname' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('sdes');">Short Description
                                <span th:attr="class=${sortColumn eq 'sdes' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('otype');">Operation Type
                                <span th:attr="class=${sortColumn eq 'otype' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('qty');">Quantity
                                <span th:attr="class=${sortColumn eq 'qty' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col" onclick="sortChanged('opt');">Operator
                                <span th:attr="class=${sortColumn eq 'opt' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                            </th>
                            <th scope="col">Executed At</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${Stocks.empty}">
                            <td colspan="5"> No Records Available</td>
                        </tr>
                        <tr th:each="stock : ${Stocks}" th:attr="class=${stock.operationType eq 'PURCHASE' ? 'is-purchase' : 'is-sell'}">
                            <td scope="row" th:text="${stockStat.index+1}">#</td>
                            <td><span th:text="${stock.name}"></span></td>
                            <td><span th:text="${stock.shortName}"></span></td>
                            <td><span th:text="${stock.shortDescription}"></span></td>
                            <td><span th:text="${stock.operationType}"></span></td>
                            <td><span th:text="${stock.quantity}"></span></td>
                            <td><span th:text="${stock.operatedBy}"></span></td>
                            <td><span th:text="${stock.transactionTime}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <nav th:if="${StockPage.totalPages > 0}">
                        <div style="margin-bottom: 20px;">Showing <b><span th:text="${currentPageNumber}"></span></b> of <b><span th:text="${StockPage.totalPages}"></span></b> pages.</div>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link"
                                   th:attr="onclick=${currentPageNumber > 1 ? 'paginationClicked(-1,-1)' : '' }"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <span th:each="pageNumber : ${pageNumbers}">
                                <li class="page-item">
                                    <a th:attr="onclick=|paginationClicked(0,'${pageNumber}')|,class=${pageNumber eq  currentPageNumber? 'page-link current' : 'page-link'}"
                                       th:text="${pageNumber}">1</a></li>
                            </span>
                            <li class="page-item">
                                <a class="page-link"
                                   th:attr="onclick=${StockPage.totalPages > currentPageNumber ? 'paginationClicked(1,1)' : '' }"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <div th:replace="~{common/footer :: myFooter}"></div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/stock_audit.js}"></script>
<script th:inline="javascript">
    let currentPageNumber = [[${currentPageNumber}]];
    let sortOrder = [[${sortOrder}]];
    let sortColumn = [[${sortColumn}]];
    let searchType =  [[${searchType}]];
    let searchKey =  [[${searchKey}]];
    let currentPageSize = [[${currentPageSize}]];

    $(document).ready(function() {
        $('#searchKey').devbridgeAutocomplete({
            serviceUrl: '/stock/management/stock_audit_search',
            paramName: 'searchKey',
            params: {type:$('#searchType').val()},
            minChars: 1,
        });
    });
</script>
</body>
</html>