<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet"/>
    <div th:replace="~{common/header :: myHeader}"></div>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<script th:inline="javascript">
	function get_size(){
          var productId = $('#productId').val();
          if(productId === ''){
           $('#productSize').html('<option value="">Select Product Size</option>')
          }else
          {
            $.ajax({
               type : "GET",
               contentType : "application/json",
               url : "/sales/detail/size?productId="+productId,
               dataType : 'json',
               cache : false,
               timeout : 600000,
               success : function(data) {
                    var html = '<option value="">Select Product Size</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i] + '">'
                       + data[i]
                       + '</option>';
                    }
                    html += '</option>';
                    $('#productSize').html(html);
               },
               error : function(e) {
                alert(e);
               }
              });
          }
    }
    function getStockStatus(){
          var productId = $('#productId').val();
          var size = $('#productSize').val();
          if(size === ''){
           $('#currentStock').val('0');
          }else
          {
            $.ajax({
               type : "GET",
               contentType : "application/json",
               url : "/stock/status?productId="+productId+"&size="+size,
               dataType : 'json',
               cache : false,
               timeout : 600000,
               success : function(data) {
                    $('#currentStock').val(data);
               },
               error : function(e) {
                alert(e);
               }
              });
          }
    }

    function getSubCategories(){
	    var categoryName = $('#category').val();
	    if(categoryName === ''){
           $('#subCategory').html('<option value="">Sub category List</option>')
          }else
          {
            $.ajax({
               type : "GET",
               contentType : "application/json",
               url : "/product/category/subCategories?categoryName="+categoryName,
               cache : false,
               timeout : 600000,
               success : function(data) {
                    var html = '<option value="">Sub category List</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                       + data[i].value
                       + '</option>';
                    }
                    html += '</option>';
                    $('#subCategory').html(html);
               },
               error : function(e) {
                alert(e)
               }
              });
          }
	}

	function getProducts(){
	    var categoryId = $('#subCategory').val();
	    if(categoryId === ''){
           $('#productId').html('<option value="">Select Product</option>')
          }else
          {
            $.ajax({
               type : "GET",
               contentType : "application/json",
               url : "/product/select/types?categoryId="+categoryId,
               dataType : 'json',
               cache : false,
               timeout : 600000,
               success : function(data) {
                    var html = '<option value="">Select Product</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                       + data[i].value
                       + '</option>';
                    }
                    $('#productId').html(html);
               },
               error : function(e) {
                alert(e);
               }
              });
          }
	}
</script>
<body class="sb-nav-fixed">
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="col-xl-6 col-lg-7">
                        <form method="POST" class="form-signin-category" th:object="${managementForm}"
                              th:action="@{/stock/management}">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">Add/Update Stock</h4>
                                </div>
                            </div>

                            <h6 style="text-align:center;">
                                <span class="has-error" th:text="${errorMessage}"></span>
                                <span th:text="${successMessage}"></span>
                            </h6>
                            <div class="form-group">
                                <select class="form-control" id="category" name="category" onchange="getSubCategories();">
                                    <option value="">Category List</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category}"
                                            th:text="${category}" th:selected="(${category} eq ${selectedCategory})" ></option>
                                </select>
                                <span class="has-error" th:if="${#fields.hasErrors('category')}"
                                      th:errors="*{category}"></span>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="subCategory" name="subCategory" onchange="getProducts();">
                                    <option value="">Sub category List</option>
                                    <option th:each="subCategory : ${subCategories}"
                                            th:selected="(${subCategory.id} == ${selectedSubCategoryId})"
                                            th:value="${subCategory.id}"
                                            th:text="${subCategory.value}"
                                    />
                                </select>
                                <span class="has-error" th:if="${#fields.hasErrors('subCategory')}"
                                      th:errors="*{subCategory}"></span>
                            </div>
                            <div class="form-group">
                                <select th:field="*{productId}" class="form-control"  onchange="get_size();" name="productId">
                                    <option value="">Select Product</option>
                                    <option th:each="product : ${productSelectList}"
                                            th:value="${product.id}"
                                            th:text="${product.value}" th:selected="(${product.id} eq ${selectedProductId})" />
                                </select>
                                <span class="has-error" th:if="${#fields.hasErrors('productId')}"
                                      th:errors="*{productId}"></span>
                            </div>
                            <div class="form-group">
                                <select id="productSize" name="productSize" class="form-control" onchange="getStockStatus()">
                                    <option value="">Select Product Size</option>
                                    <option th:each="productSize : ${productSizes}"
                                            th:value="${productSize}"
                                            th:text="${productSize}"
                                            th:selected="(${productSize} eq ${selectedSize})" />
                                </select>
                                <span class="has-error" th:if="${#fields.hasErrors('productSize')}"
                                      th:errors="*{productSize}"></span>
                            </div>
                            <div class="form-group">
                                <label>Current Stock</label>
                                <input type="number" id="currentStock" name="currentStock" th:field="*{currentStock}"  readonly class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="number" th:field="*{quantity}" class="form-control" min="0" placeholder="Enter product quantity">
                                <span class="has-error" th:if="${#fields.hasErrors('quantity')}"
                                      th:errors="*{quantity}"></span>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div
                        class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted" th:text="#{application.copyright.text}"></div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                        &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/library/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/library/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/dataTables.bootstrap4.min.js}"></script>
</body>
</html>