<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet"/>
    <div th:replace="~{common/header :: myHeader}"></div>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<script th:inline="javascript">
	function logoutUser() {
		$('#logoutForm').submit();
	}
	function getSubCategories(){
	    var categoryName = $('#existingCategories').val();
	    if(categoryName === ''){
           $('#existingSubCategories').html('<option value="">Existing Sub category List</option>')
          }else
          {
            $.ajax({
               type : "GET",
               contentType : "application/json",
               url : "/product/category/subCategories?categoryName="+categoryName,
               dataType : 'json',
               cache : false,
               timeout : 600000,
               success : function(data) {
                    var html = '<option value="">Existing Sub category List</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                       + data[i].value
                       + '</option>';
                    }
                    html += '</option>';
                    $('#existingSubCategories').html(html);
               },
               error : function(e) {
                alert(e);
               }
              });
          }
	}
</script>
<body class="sb-nav-fixed">
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="col-xl-6 col-lg-7">
                    <form method="POST" class="form-signin-category" th:object="${categoryForm}"
                          th:action="@{/product/category}">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Create Product Category</h4>
                            </div>
                        </div>

                        <h6 style="text-align:center;">
                            <span class="has-error" th:text="${errorMessage}"></span>
                            <span th:text="${successMessage}"></span>
                        </h6>
                        <div class="form-group" th:if="${!existingCategories.empty}">
                            <select class="form-control" id="existingCategories" name="existingCategories" onchange="getSubCategories();">
                                <option value="">Existing category List</option>
                                <option th:each="existingCategory : ${existingCategories}"
                                        th:value="${existingCategory}"
                                        th:text="${existingCategory}" th:selected="(${existingCategory} eq ${selectedCategory})" />
                            </select>
                        </div>
                        <div class="form-group" th:if="${!existingCategories.empty}">
                            <select class="form-control" id="existingSubCategories" name="existingSubCategories">
                                <option value="">Existing Sub category List</option>
                                <option th:each="existingSubCategory : ${existingSubCategories}"
                                        th:value="${existingSubCategory}"
                                        th:text="${existingSubCategory}" th:selected="(${existingSubCategory} eq ${selectedSubCategory})" />
                            </select>
                        </div>
                        <div class="form-group">
                            <input size="50" type="text" th:field="*{category}" class="form-control border-groove"
                                   placeholder="Enter Category"
                                   autofocus="true">
                            <span class="has-error" th:if="${#fields.hasErrors('category')}"
                                  th:errors="*{category}"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{subCategory}" class="form-control border-groove"
                                   placeholder="Enter SubCategory"
                                   autofocus="true">
                            <span class="has-error" th:if="${#fields.hasErrors('subCategory')}"
                                  th:errors="*{subCategory}"></span>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>

                </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div
                        class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; IMS 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                        &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/library/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/Chart.min.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/chart/chart-area-demo.js}"></script>
<script type="text/javascript" th:src="@{/js/chart/chart-bar-demo.js}"></script>
<script type="text/javascript" th:src="@{/js/library/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chart/datatables-demo.js}"></script>
</body>
</html>