<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title.category.create}"></title>
    <script type="text/javascript" th:src="@{/js/category.js}"></script>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>

<body class="sb-nav-fixed">
<div th:replace="~{common/header :: myHeader}"></div>
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="col-xl-6 col-lg-7">
                    <form method="POST" class="form-signin-category" th:object="${categoryForm}"
                          th:action="@{/product/category}">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title" th:text="#{app.title.category.create}"></h4>
                            </div>
                        </div>

                        <h6 style="text-align:center;">
                            <span class="has-error" th:text="${errorMessage}"></span>
                            <span th:text="${successMessage}"></span>
                        </h6>
                        <div class="form-group" th:if="${!existingCategories.empty}">
                            <label for="existingCategories"></label>
                            <select class="form-control" id="existingCategories" name="existingCategories" onchange="getSubCategories();">
                                <option value="" th:text="#{app.category.text.ex.cat.list}"></option>
                                <option th:each="existingCategory : ${existingCategories}"
                                        th:value="${existingCategory}"
                                        th:text="${existingCategory}" th:selected="(${existingCategory} eq ${selectedCategory})" />
                            </select>
                        </div>
                        <div class="form-group" th:if="${!existingCategories.empty}">
                            <label for="existingSubCategories"></label>
                            <select class="form-control" id="existingSubCategories" name="existingSubCategories">
                                <option value="" th:text="#{app.category.text.ex.sub.cat.list}"></option>
                                <option th:each="existingSubCategory : ${existingSubCategories}"
                                        th:value="${existingSubCategory}"
                                        th:text="${existingSubCategory}" th:selected="(${existingSubCategory} eq ${selectedSubCategory})" />
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                <input size="100" type="text" th:field="*{category}" class="form-control border-groove"
                                       placeholder="Enter Category"
                                       autofocus="autofocus">
                            </label>
                            <span class="has-error" th:if="${#fields.hasErrors('category')}"
                                  th:errors="*{category}"></span>
                        </div>
                        <div class="form-group">
                            <label>
                                <input size="100" type="text" th:field="*{subCategory}" class="form-control border-groove" placeholder="Enter SubCategory">
                            </label>
                            <span class="has-error" th:if="${#fields.hasErrors('subCategory')}"
                                  th:errors="*{subCategory}"></span>
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit" th:text="#{app.common.button.submit}"></button>
                        <button class="btn btn-lg btn-success" type="button" onclick="clearDataFilter();"
                                th:text="#{app.common.back.list}"
                                th:if="${@permissionService.hasPermission('PROD_CAT_VIEW')}"></button>
                        <button class="btn btn-lg btn-success disabled" type="button" disabled="disabled"
                                th:text="#{app.common.back.list}"
                                th:unless="${@permissionService.hasPermission('PROD_CAT_VIEW')}"></button>
                    </form>
                </div>
                </div>
            </div>
        </main>
        <div th:replace="~{common/footer :: myFooter}"></div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function getSubCategories(){
        let categoryName = $('#existingCategories').val();
        if(categoryName === ''){
            $('#existingSubCategories').html('<option value="">Existing Sub category List</option>')
        }else
        {
            $.ajax({
                type : "GET",
                contentType : "application/json",
                url : "/product/category/subCategories?categoryName="+categoryName,
                dataType : 'json',
                cache : false,
                timeout : 600000,
                success : function(data) {
                    let html = '<option value="">Existing Sub category List</option>';
                    let len = data.length;
                    for (let i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                            + data[i].value
                            + '</option>';
                    }
                    html += '</option>';
                    $('#existingSubCategories').html(html);
                },
                error : function(e) {
                    alert(e);
                }
            });
        }
    }
</script>
</html>