<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{/css/library/bootstrap-icons.css}" rel="stylesheet"/>-->
    <link th:href="@{/vendor/remixicon/fonts/remixicon.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/library/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/category.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/dataTables.bootstrap4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/jquery.autocomplete.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/materialize.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Category List</title>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<script th:inline="javascript">
    let currentPageNumber = [[${currentPageNumber}]];
    let sortOrder = [[${sortOrder}]];
    let sortColumn = [[${sortColumn}]];
    let searchType =  [[${searchType}]];
    let searchKey =  [[${searchKey}]];
    let currentPageSize = [[${currentPageSize}]];

    $(document).ready(function() {
      $('#searchKey').devbridgeAutocomplete({
          serviceUrl: '/product/category/search',
          paramName: 'searchKey',
          params: {type:$('#searchType').val()},
          minChars: 1,
      });
    });
</script>
<body class="sb-nav-fixed">
<div th:replace="~{common/header :: myHeader}"></div>
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="form-group" style="text-align:left;">
                        <h4>Product Category List</h4>
                    </div>
                    <div class="form-group" style="text-align:right;">
                        <label for="searchType"></label>
                        <select id="searchType" name="searchType" class="form-select form-select-sm " onchange="searchTypeChanged();">
                            <option th:each="searchType : ${searchTypes}"
                                    th:value="${searchType.id}"
                                    th:text="${searchType.value}"
                                    th:selected="(${searchType.id} == ${searchType})"></option>
                        </select>
                        <label for="searchKey"></label>
                        <input type="text" name="searchKey" id="searchKey" placeholder="Search Text"
                                                              class="autocomplete" style="width: 120px;" th:value="${searchKey}">
                        <button id="SearchButton" class="btn btn-sm btn-success" onclick="searchBySuggestion();">Search</button>
                        <label for="pageSize"></label>
                        <select class="form-select form-select-sm" onchange="submitPageSizeChange()"
                              name="pageSize" id="pageSize" title="Page Size">
                            <option th:each="index : ${PageSizeList}" th:value="${index}"
                                    th:text="${index}"
                                    th:selected="(${index} == ${selectedPageSize})"></option>
                        </select>
                        <a href="#" class="btn btn-primary btn-sm active " onclick="clearDataFilter();">Clear Data Filter</a>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 5%;">#</th>
                            <th scope="col" style="width: 35%;" onclick="sortChanged('category');">
                                <span th:attr="class=${sortColumn eq 'category' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>Category</th>
                            <th scope="col" style="width: 35%;" onclick="sortChanged('sub_category');">
                                <span th:attr="class=${sortColumn eq 'sub_category' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>SubCategory</th>
                            <th scope="col" style="width: 25%;"> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${ProductCategories.empty}">
                            <td colspan="5"> No Records Available</td>
                        </tr>
                        <tr th:each="productCategory : ${ProductCategories}">
                            <td th:text="${productCategoryStat.index+1}">#</td>
                            <td><span th:text="${productCategory.category}"> Category </span></td>
                            <td><span th:text="${productCategory.subCategory}"> SubCategory </span></td>
                            <td>
                                <button th:attr="onclick=|viewPage('${productCategory.id}')|" class="btn btn-success green-tooltip"
                                        data-toggle="tooltip" data-placement="top" title="View Category">View</button>
                                <button th:attr="onclick=|editPage('${productCategory.id}')|" class="btn btn-warning yellow-tooltip"
                                        data-toggle="tooltip" data-placement="top" title="Edit Category">Edit</button>
                                <button th:attr="onclick=|deletePage('${productCategory.id}')|" class="btn btn-danger red-tooltip"
                                        data-toggle="tooltip" data-placement="top" title="Delete Category">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav th:if="${ProductCategoriesPage.totalPages > 0}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link"
                                   th:attr="onclick=${currentPageNumber > 1 ? 'paginationClicked(-1,-1)' : '' }"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <span th:each="pageNumber : ${pageNumbers}">
                                <li class="page-item">
                                    <a th:attr="onclick=|paginationClicked(0,'${pageNumber}')|,class=${pageNumber eq  currentPageNumber? 'page-link current' : 'page-link'}"
                                       th:text="${pageNumber}">1</a></li>
                            </span>
                            <li class="page-item">
                                <a class="page-link"
                                   th:attr="onclick=${ProductCategoriesPage.totalPages > currentPageNumber ? 'paginationClicked(1,1)' : '' }"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div
                        class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; 99Mall 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                        &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>