<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.header.category.list}"></title>
    <script type="text/javascript" th:src="@{/js/category.js}"></script>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<body class="sb-nav-fixed">
<div th:replace="~{common/header :: myHeader}"></div>
<div th:replace="~{common/delConDlg.html :: myDelConfModel}"></div>
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="form-group" style="text-align:left;">
                        <h4 th:text="#{app.header.category.list}"></h4>
                    </div>
                    <div class="form-group" style="text-align:right;">
                        <a th:href="@{/product/category}" class="btn btn-primary btn-sm active"
                           th:text="#{app.header.category.add}"></a>
                        <label for="searchType"></label>
                        <select id="searchType" name="searchType" class="form-select form-select-sm " onchange="searchTypeChanged();">
                            <option th:each="sType : ${searchTypes}"
                                    th:value="${sType.id}"
                                    th:text="${sType.value}"
                                    th:selected="(${sType.id} == ${searchType})"></option>
                        </select>
                        <label for="searchKey"></label>
                        <input type="text" name="searchKey" id="searchKey" th:placeholder="#{app.common.placeholder.search.input}"
                                                              class="autocomplete" style="width: 120px;" th:value="${searchKey}">
                        <button id="SearchButton" class="btn btn-sm btn-success" onclick="searchBySuggestion();" th:text="#{app.common.button.search}"></button>
                        <label for="pageSize"></label>
                        <select class="form-select form-select-sm" onchange="submitPageSizeChange()"
                              name="pageSize" id="pageSize" title="Page Size">
                            <option th:each="index : ${PageSizeList}" th:value="${index}"
                                    th:text="${index}"
                                    th:selected="(${index} == ${selectedPageSize})"></option>
                        </select>
                        <a href="#" class="btn btn-primary btn-sm active " onclick="clearDataFilter();"
                           th:text="#{app.common.button.clear.filter}"></a>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 5%;">#</th>
                            <th scope="col" style="width: 35%;" onclick="sortChanged('category');" th:text="#{app.category.list.column.cat}">
                                <span th:attr="class=${sortColumn eq 'category' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                                </th>
                            <th scope="col" style="width: 35%;" onclick="sortChanged('sub_category');" th:text="app.category.list.column.sub_cat">
                                <span th:attr="class=${sortColumn eq 'sub_category' ? (sortOrder eq 'ASC' ? 'bi bi-sort-up-alt' : 'bi bi-sort-down-alt' ) : ''}"></span>
                                </th>
                            <th scope="col" style="width: 25%;" th:text="#{app.common.list.action}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${ProductCategories.empty}">
                            <td colspan="5"> No Records Available</td>
                        </tr>
                        <tr th:each="productCategory : ${ProductCategories}">
                            <td th:text="${productCategoryStat.index+1}">#</td>
                            <td><span th:text="${productCategory.category}"></span></td>
                            <td><span th:text="${productCategory.subCategory}"></span></td>
                            <td>
                                <button class="btn btn-success green-tooltip"
                                        th:attr="onclick=|viewPage('${productCategory.id}')|"
                                        th:if="${@permissionService.hasPermission('PROD_CAT_VIEW')}"
                                        th:text="#{app.common.button.view}"
                                        data-toggle="tooltip" data-placement="top" title="View Category"></button>
                                <button class="btn btn-success disabled"  disabled="disabled" th:text="#{app.common.button.view}"
                                        th:unless="${@permissionService.hasPermission('PROD_CAT_VIEW')}"></button>

                                <button th:attr="onclick=|editPage('${productCategory.id}')|" th:text="#{app.common.button.edit}"
                                        class="btn btn-warning yellow-tooltip"
                                        th:if="${@permissionService.hasPermission('PROD_CAT_UPDATE')}"
                                        data-toggle="tooltip" data-placement="top" title="Edit Category"></button>
                                <button class="btn btn-warning disabled"  disabled="disabled" th:text="#{app.common.button.edit}"
                                        th:unless="${@permissionService.hasPermission('PROD_CAT_UPDATE')}"></button>

                                <a  href="#"
                                    class="btn btn-danger red-tooltip"
                                    th:attr="onclick=|setDeleteData('${productCategory.id}')|"
                                    th:if="${@permissionService.hasPermission('PROD_CAT_DELETE')}"
                                    th:text="#{app.common.button.delete}" data-toggle="modal" data-target="#deleteConfirmationModel">
                                </a>
                                <a href="#"
                                    class="btn btn-danger disabled" disabled="disabled"
                                    th:unless="${@permissionService.hasPermission('PROD_CAT_DELETE')}"
                                    th:text="#{app.common.button.delete}">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav th:if="${ProductCategoriesPage.totalPages > 0}">
                        <div style="margin-bottom: 20px;">Showing <b><span th:text="${currentPageNumber}"></span></b> of <b><span th:text="${ProductCategoriesPage.totalPages }"></span></b> pages.</div>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link"
                                   th:attr="onclick=${currentPageNumber > 1 ? 'paginationClicked(-1,-1)' : '' }"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <span th:each="pageNumber : ${pageNumbers}">
                                <li class="page-item">
                                    <a th:attr="onclick=|paginationClicked(0,'${pageNumber}')|,class=${pageNumber eq  currentPageNumber? 'page-link current' : 'page-link'}"
                                       th:text="${pageNumber}">1</a></li>
                            </span>
                            <li class="page-item">
                                <a class="page-link"
                                   th:attr="onclick=${ProductCategoriesPage.totalPages > currentPageNumber ? 'paginationClicked(1,1)' : '' }"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <div th:replace="~{common/footer :: myFooter}"></div>
    </div>
</div>
<script th:inline="javascript">
    let currentPageNumber = [[${currentPageNumber}]];
    let sortOrder = [[${sortOrder}]];
    let sortColumn = [[${sortColumn}]];
    let searchType =  [[${searchType}]];
    let searchKey =  [[${searchKey}]];
    let currentPageSize = [[${currentPageSize}]];

    $(document).ready(function() {
        $('#searchKey').devbridgeAutocomplete({
            serviceUrl: '/product/category/search',
            paramName: 'searchKey',
            params: {type:$('#searchType').val()},
            minChars: 1,
        });
    });

    function setDeleteData(id){
        $("#deleteConfirmButton").attr('onClick', "deletePage('"+id+"');");
    }
</script>
</body>
</html>