<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/library/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/category.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/dataTables.bootstrap4.min.js}"></script>
    <title th:text="#{app.title.category.view}"></title>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<script th:inline="javascript">
</script>
<body class="sb-nav-fixed">
<div th:replace="~{common/header :: myHeader}"></div>
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <h2 class="form-signin-heading"> Product Category</h2>
                    <div th:if="${category == null}">
                        <h4 th:text="#{app.common.no.data}">No data Present</h4>
                    </div>
                    <div class="table-responsive-sm" th:if="${category != null}">
                        <table class="table table-bordered" style="width: 50%;">
                            <tbody>
                            <tr>
                                <th scope="row"><label> Category </label></th>
                                <td><span th:text="${category.category}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row"><label> Sub Category </label></th>
                                <td><span th:text="${category.subCategory}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group" style="text-align: center; width: 50%;">
                            <button class="btn btn-sm btn-success" onclick="clearDataFilter();"
                                    th:text="#{app.common.back.list}">t</button>
                            <button id="SearchButton" class="btn btn-sm btn-success"
                                    th:text="#{app.common.button.edit}"
                                    th:attr="onclick=|editPage('${category.id}')|"></button>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted" th:text="#{application.copyright.text}"></div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                        &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>