<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login User</title>
    <!-- Favicon -->
    <link href="/css/library/backend.css" rel="stylesheet">
    <link href="/css/library/backend-plugin.min.css" rel="stylesheet">

<body class=" ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="wrapper">
    <section class="login-content">
        <form class="form-signin" method="POST" th:action="@{/login}">
        <div class="container">
            <div class="row align-items-center justify-content-center height-self-center">
                <div class="col-lg-8">
                    <div class="card auth-card">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center auth-content">
                                <div class="col-lg-7 align-self-center">
                                    <div class="p-3">
                                        <h2 class="mb-2">Sign In</h2>
                                        <p>Login to stay connected.</p>
                                        <form>
                                            <div class="row">
                                                <span th:text="${message}"></span>
                                                <span style="color: red;" th:text="${error}"></span>
                                                <span><br/><br/></span>
                                                <div class="col-lg-12">
                                                    <div class="floating-label form-group">
                                                        <input class="floating-input form-control" name="username" type="email"  placeholder=""
                                                               autofocus="true"/>
                                                        <label>Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="floating-label form-group">
                                                        <input class="floating-input form-control" name="password" type="password"  placeholder=""/>
                                                        <span class="has-error" th:text="${error}"></span>
                                                        <label>Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="remember-me">
                                                        <label class="custom-control-label control-label-1" for="customCheck1">Remember Me</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a href="/resetPassword" class="text-primary float-right">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                            <button type="submit" class="btn btn-primary">Sign In</button>
                                            <p class="mt-3">
                                                <h4 class="text-center" th:if="${isSuperAdminExists}"><a href="/register/super/admin">Register Super Admin</a></h4>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-5 content-right">
                                    <img th:src="@{images/login/01.png}" class="img-fluid image-right" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </section>
</div>

<!-- Backend Bundle JavaScript -->
<script type="text/javascript" th:src="@{/js/backend-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/table-treeview.js}"></script>
<script type="text/javascript" th:src="@{/js/customizer.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>

</body>
</html>