<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/library/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1 >Reset Password</h1>

<form method="POST" class="form-signin" th:object="${resetPwdForm}" th:action="@{/resetPassword}">
    <div class="form-group">
        <input type="email" th:field="*{email}" class="form-control" placeholder="Enter email"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
    <h4 class="text-center"><a href="/registration">Sign up</a></h4>
    <h4 class="text-center"><a href="/login">Back to login</a></h4>
</form>
<script src="/js/library/jquery.min.js"></script>
<script src="/js/library/popper.min.js"></script>
<script src="/js/library/bootstrap.min.js"></script>
</body>
</html>