<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet" />
    <div th:replace="~{common/header :: myHeader}"></div>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<script  th:inline="javascript">
</script>
<body class="sb-nav-fixed">
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="col-xl-6 col-lg-7">
                    <form method="POST" class="form-signin-category" th:object="${registrationForm}"
                          th:action="@{/user/register}">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Create your account</h4>
                            </div>
                        </div>

                        <h6 style="text-align:center;">
                            <span class="has-error" th:text="${errorMessage}"></span>
                            <span th:text="${successMessage}"></span>
                        </h6>
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name"
                                   autofocus="true">
                            <span class="has-error" th:if="${#fields.hasErrors('firstName')}"
                                  th:errors="*{firstName}"></span>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name"
                                   autofocus="true">
                            <span class="has-error" th:if="${#fields.hasErrors('lastName')}"
                                  th:errors="*{lastName}"></span>
                        </div>
                        <div class="form-group">
                            <label for="userName">User Name:</label>
                            <input type="text" th:field="*{userName}" class="form-control" placeholder="Username"
                                   autofocus="true">
                            <span class="has-error" th:if="${#fields.hasErrors('userName')}"
                                  th:errors="*{userName}"></span>
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
                            <span class="has-error" th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}"></span>
                        </div>
                        <div class="form-group">
                            <label for="passwordConfirm">Password Confirm:</label>
                            <input type="password" th:field="*{passwordConfirm}" class="form-control"
                                   placeholder="Confirm your password">
                            <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}"
                                  th:errors="*{passwordConfirm}"></span>
                        </div>
                        <div class="form-group" sec:authorize="hasAuthority('ADMIN')">
                            <select th:field="*{roleName}">
                                <option th:each="role : ${roleSelectTypes}" th:value="${role.name}"
                                        th:text="${role.displayName}"></option>
                            </select>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>

                </div>
              </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div
                        class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted" th:text="#{application.copyright.text}"></div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                        &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/library/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/library/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/dataTables.bootstrap4.min.js}"></script>
</body>
</html>