<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/library/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form class="form-signin" method="POST" th:action="@{/login}">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>

            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>

            Remember Me: &nbsp;<input type="checkbox" name="remember-me" />

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center" th:if="${isSuperAdminExists}"><a href="/register/super/admin">Register Yourself</a></h4>
            <h4 class="text-center"><a href="/resetPassword">Reset Password</a></h4>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/library/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/bootstrap.min.js}"></script>
</body>
</html>