<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet"/>
    <div th:replace="~{common/header :: myHeader}"></div>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<script th:inline="javascript">
	function logoutUser() {
		$('#logoutForm').submit();
	}
	function setTwoNumberDecimal(event) {
        $('#price').val(parseFloat($('#price').val()).toFixed(2));
    }
</script>
<body class="sb-nav-fixed">
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="col-xl-6 col-lg-7">
                    <form method="POST" class="form-signin-category" th:object="${managementForm}"
                          th:action="@{/product/price}">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Create/Update Product Price</h4>
                            </div>
                        </div>

                        <h6 style="text-align:center;">
                            <span class="has-error" th:text="${errorMessage}"></span>
                            <span th:text="${successMessage}"></span>
                        </h6>
                        <!-- Product Category -->
                        <div class="form-group">
                            <label>Select Product</label>
                            <select th:field="*{productId}" class="form-control">
                                <option th:each="productSelect : ${productSelectTypes}"
                                        th:value="${productSelect.id}"
                                        th:text="${productSelect.value}" th:selected="(${productSelect.id} eq ${selectedProductId})" />
                            </select>
                        </div>
                        <div class="form-group">
                            <input size="50" type="text" th:field="*{productSize}" class="form-control" placeholder="Enter Product Size" autofocus="true">
                            <span class="has-error" th:if="${#fields.hasErrors('productSize')}"
                                  th:errors="*{productSize}"></span>
                        </div>
                        <div class="form-group">
                            <input type="number" th:field="*{price}" class="form-control"
                                   onchange="setTwoNumberDecimal()"  step="0.01" placeholder="Enter product price">
                            <span class="has-error" th:if="${#fields.hasErrors('price')}"
                                  th:errors="*{price}"></span>
                        </div>
                        <div class="form-group">
                            <input type="number" th:field="*{discountPercentage}" class="form-control"
                                   onchange="setTwoNumberDecimal()" min="0" max="100" step=".01" placeholder="Enter Discount Percentage">
                            <span class="has-error" th:if="${#fields.hasErrors('discountPercentage')}"
                                  th:errors="*{discountPercentage}"></span>
                        </div>
                        <div class="form-group">
                            <input type="number" th:field="*{maxDiscountAmount}" class="form-control"
                                   onchange="setTwoNumberDecimal()" min="0" step="0.01" placeholder="Enter max discount amount.">
                            <span class="has-error" th:if="${#fields.hasErrors('maxDiscountAmount')}"
                                  th:errors="*{maxDiscountAmount}"></span>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div
                        class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; IMS 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                        &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/library/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/Chart.min.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/library/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/dataTables.bootstrap4.min.js}"></script>
</body>
</html>