<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet"/>
    <div th:replace="~{common/header :: myHeader}"></div>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<script th:inline="javascript">
	function logoutUser() {
		$('#logoutForm').submit();
	}
	function getSubCategories(){
	    var categoryName = $('#categoryName').val();
	    if(categoryName === ''){
           $('#categoryId').html('<option value="">Select Product Sub Category</option>')
          }else
          {
            $.ajax({
               type : "GET",
               contentType : "application/json",
               url : "/product/category/subCategories?categoryName="+categoryName,
               dataType : 'json',
               cache : false,
               timeout : 600000,
               success : function(data) {
                    var html = '<option value="">Select Product Sub Category</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                       + data[i].value
                       + '</option>';
                    }
                    html += '</option>';
                    $('#categoryId').html(html);
               },
               error : function(e) {
                alert(e);
               }
              });
          }
	}
	function getExistingProduct(){
	    var categoryId = $('#categoryId').val();
	    if(categoryId === ''){
           $('#existingProduct').html('<option value="">Existing Product List</option>')
          }else
          {
            $.ajax({
               type : "GET",
               contentType : "application/json",
               url : "/product/existingProducts?categoryId="+categoryId,
               dataType : 'json',
               cache : false,
               timeout : 600000,
               success : function(data) {
                    var html = '<option value="">Existing Product List</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i] + '">'
                       + data[i]
                       + '</option>';
                    }
                    $('#existingProduct').html(html);
               },
               error : function(e) {
                alert(e);
               }
              });
          }
	}
</script>
<body class="sb-nav-fixed">
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <!-- Sidebar ends here -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <div class="col-xl-6 col-lg-7">
                    <form method="POST" class="form-signin-category" th:object="${managementForm}"
                          th:action="@{/product/management}">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Create Product</h4>
                            </div>
                        </div>

                        <h6 style="text-align:center;">
                            <span class="has-error" th:text="${errorMessage}"></span>
                            <span th:text="${successMessage}"></span>
                        </h6>
                        <!-- Product Category -->
                        <div class="form-group">
                            <select th:field="*{categoryName}" class="form-control" name="categoryName" onchange="getSubCategories();">
                                <option selected value="">Select Product Category</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category}"
                                        th:text="${category}" th:selected="(${category} eq ${selectedCategory})" />
                            </select>
                            <span class="has-error" th:if="${#fields.hasErrors('categoryName')}"
                                  th:errors="*{categoryName}"></span>
                        </div>
                        <div class="form-group">
                            <select th:field="*{categoryId}" class="form-control" name="categoryId" onchange="getExistingProduct();">
                                <option value="">Select Product Sub Category</option>
                                <option th:each="subCategory : ${subCategories}"
                                        th:value="${subCategory.id}"
                                        th:text="${subCategory.value}" th:selected="(${subCategory.id} eq ${selectedCategoryId})" />
                            </select>
                            <span class="has-error" th:if="${#fields.hasErrors('categoryId')}"
                                  th:errors="*{categoryId}"></span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="existingProduct" name="existingProduct">
                                <option value="">Existing Product List</option>
                                <option th:each="existingProduct : ${existingProducts}"
                                        th:value="${existingProduct}"
                                        th:text="${existingProduct}" />
                            </select>
                            <span class="has-error" th:if="${#fields.hasErrors('categoryId')}"
                                  th:errors="*{categoryId}"></span>
                        </div>
                        <div class="form-group">
                            <input size="50" type="text" th:field="*{name}" class="form-control" placeholder="Enter Product Name" autofocus="true">
                            <span class="has-error" th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{shortName}" class="form-control" placeholder="Enter product short name">
                            <span class="has-error" th:if="${#fields.hasErrors('shortName')}"
                                  th:errors="*{shortName}"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{shortDescription}" class="form-control" placeholder="Product Short Description">
                            <span class="has-error" th:if="${#fields.hasErrors('shortDescription')}"
                                  th:errors="*{shortDescription}"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{description}" class="form-control" placeholder="Product Description">
                            <span class="has-error" th:if="${#fields.hasErrors('description')}"
                                  th:errors="*{description}"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{material}" class="form-control" placeholder="Product material">
                            <span class="has-error" th:if="${#fields.hasErrors('material')}"
                                  th:errors="*{material}"></span>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div
                        class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; IMS 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                        &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/library/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/library/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/dataTables.bootstrap4.min.js}"></script>
</body>
</html>