<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title.category.view}"></title>
    <script type="text/javascript" th:src="@{/js/category.js}"></script>
</head>
<form id="logoutForm" method="POST" th:action="@{/logout}">
</form>
<body class="sb-nav-fixed">
<div th:replace="~{common/header :: myHeader}"></div>
<div th:replace="~{common/navbar :: myNavbar}"></div>
<div id="layoutSidenav">
    <div th:replace="~{common/sidebar :: mySidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="container">
                    <h2 class="form-signin-heading">Product</h2>
                    <div th:if="${product == null}">
                        <h4 th:text="#{app.common.no.data}"></h4>
                    </div>
                    <div class="table-responsive-sm" th:if="${product != null}">
                        <table class="table table-bordered" style="width: 50%;">
                            <tbody>
                            <tr>
                                <th scope="row"><label> Name </label></th>
                                <td><span th:text="${product.name}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row"><label> Short Name </label></th>
                                <td><span th:text="${product.shortName}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row"><label>Short Description </label></th>
                                <td><span th:text="${product.shortDescription}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row"><label> Description </label></th>
                                <td><span th:text="${product.description}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row"><label> Material </label></th>
                                <td><span th:text="${product.material}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row"><label>Category </label></th>
                                <td><span th:text="${product.categoryName}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row"><label> Sub Category </label></th>
                                <td><span th:text="${product.subCategory}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group" style="text-align: center; width: 50%;">
                            <button class="btn btn-sm btn-success" onclick="clearDataFilter();"
                                    th:text="#{app.common.back.list}"
                                    th:if="${@permissionService.hasPermission('PROD_VIEW')}"></button>
                            <button class="btn btn-sm btn-success disabled" disabled="disabled"
                                    th:text="#{app.common.back.list}"
                                    th:unless="${@permissionService.hasPermission('PROD_VIEW')}"></button>
                            <button class="btn btn-sm btn-success"
                                    th:if="${@permissionService.hasPermission('PROD_UPDATE')}"
                                    th:text="#{app.common.button.edit}"
                                    th:attr="onclick=|editPage('${product.id}')|"></button>
                            <button class="btn btn-sm btn-success disabled" disabled="disabled"
                                    th:unless="${@permissionService.hasPermission('PROD_UPDATE')}"
                                    th:text="#{app.common.button.edit}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{common/footer :: myFooter}"></div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/product.js}"></script>
</html>